@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root{
  --clr-bg:#131518;

  --clr-blue-500:#262E38;

  --clr-white-400: #FFF;

  --clr-gray-400: #969FAD;
  --clr-gray-500: #7C8798;

  --clr-orange-400:#FC7614;
  
  --clr-card-bg: radial-gradient(circle, #232A34, #181E27);
}

html,body{
  font-family: 'Overpass', sans-serif;
}

#app{
  background-color: var(--clr-bg);
  height: 100vh;
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
}